.festi {
    background-color:  rgba(20, 20, 20, 0.8);
    text-align: center;
    align-items: center;
    padding: 50px;
    color: white;
    p {
        margin-bottom: 20px;
        font-size: 22px;
    }
}