footer {
   display: flex;
   justify-content: center;
    padding: 60px;
    background-color: rgb(51, 51, 51);
   
}

.coordonnées {
   width: 90%;
   max-width: 1200px;
    display: flex;
    justify-content:  space-between;
   color: white;
   font-size: 20px;
   a {
       text-decoration: none;
   color: white;
   transition: 0.3s;
            &:hover {
               
               color: #d2691e;
            }
   }
   i {
       font-size: 30px;
   }
   p {
       margin-bottom: 10px;
   }
}

.res {
    a {
        margin: 10px;
    }
}

@media screen and (max-width:1000px) {
    
    footer {
        padding: 60px 0px 60px 20px;
    }
    .coordonnées {
        padding-left: 0%;
        flex-direction: column;
        align-items:flex-start;
    }
    .res {
        a {
            margin: 30px 10px 0 0;
        }
    }

    .address {
        margin-bottom: 20px;
    }

    .TelMail {
        margin-bottom: 20px;
    }

}