/*.map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    
    }
    
    .map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }*/

    .map{
        border-radius: 20px;
        margin: 30px 10% 30px 10%;
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        
        }
        
        .map iframe {
            left:0;
            top:50px;
            height:50%;
            width:100%;
            position:absolute;
        }

        .contact {
          
            p {
                margin-bottom: 20px;
            }
        }