.contact {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        &:hover {
            color: #d2691e;
        }
    }
    p {
        font-size: 20px;
    }
    h2 {
        margin-bottom: 50px;
        font-size: 40px;
    }
}